body {
  padding: 0;
  margin: 0;
  background-color: orange; /* Set the background color to orange */
}

#top-scores-table {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

#top-scores-table table {
  width: 100%;
  border-collapse: collapse;
}

#top-scores-table th, #top-scores-table td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

#top-scores-table th {
  background-color: #f2f2f2;
}
